html,
header,
body,
nav,
div,
p,
a,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(148, 148, 148);
    height: 6.9375em;
    margin-top: 0;
}

main  {
    background-color: rgb(240, 234, 234);
}


.intro-article::after {
   content: "";
   display: table;
   clear: both; 
}

.article {
    height: 400px;
    width: 50%;
    float: left;
}
.article1 {
    background-color: rgb(105, 104, 104);

}



.article2 {
    /* background-color: rgb(126, , 126); */
    background-color: rgb(110, 108, 108);
}

.article3 {
        background-color: rgb(129, 127, 127);
    
    }

.article4 {
    background-color: rgb(138, 138, 138);

}




.latest-post {
    background: lightgray;
    height: 550px;
}

.latest-post:after {
    content: "";
    display:block;
    clear: both;
    overflow: hidden;
}

.latest1,
.latest2,
.latest3,
.supporters {
    float: left;
    width: 25%;
}

.latest1,
.latest2,
.latest3 {
    height: 550px;
}

.latest1 {
    background-color: rgb(141, 138, 138);
}

.latest2 {
    background-color: rgb(148, 145, 145);
}

.latest3 {
    background-color: rgb(161, 159, 159);
}



.supporters {
    background-color: rgb(95, 94, 94);
    width: 300px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}


.latest-articles {
   
    height: 600px;
    margin: 25px auto;
    
}

.latest-articles:after {
    content: "";
    display: table;
    clear: both;
}

.latest-article1,
.latest-article2,
.latest-article3 {
    float: left;
    height: 580px;
}

.latest-article1 {
    background-color: rgb(133, 131, 131);
    width: 48%;
    margin: 15px;
    border-radius: 5px;
}

.latest-article2,
.latest-article3 {
    width: 25%;
}

.latest-article2 {
    background-color: rgb(143, 142, 142);
}

.latest-article3 {
    background-color: rgb(155, 153, 153);
}

.meeting {
    height: 400px;
    text-align: center;
}

.meeting p {
    font-size: 1.7rem;
    margin: 20px auto;

}

.meeting-description {
    width: 60%;
    margin: 0 auto;
}

.meeting button {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px 0;
    background-color: rgb(100, 100, 100);
    color:  rgb(100, 100, 100);
    border: none;
}

.meeting-description {
    color: rgb(124, 124, 124);
    background-color: rgb(124, 124, 124);
}

.coming-next {
    color:  rgb(136, 136, 136);
    background-color: rgb(136, 136, 136);
    width: 20%;
    margin: 0 auto;
}

.week-person,
.community-link {
    background-color: white;
}

.week-person {
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.week-person-image{
    float: left;
    width: 200px;
    height: 130px;
    background: rgb(92, 92, 92);
    margin: 0px 50px 0px 100px;
}

.week-person-description {
    width: 45%;
    font-size: 1.5rem;
    line-height: 1.5;
}
.week-person-description span {
    background-color: rgb(138, 138, 138);
    color: rgb(138, 138, 138);

}
.community-link {
    height: 800px;
    padding: 100px;
}

.community {
    float: left;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 223px;
    
}

.community .picture {
    width: 80px;
    height: 75px;
    background-color:rgb(110, 110, 110)
}

.community .text {
    width: 70%;
}
.text p {
    display: inline;
    color: rgb(141, 141, 141);
}

.text .share {
    margin-bottom: 20px;
    color: rgb(156, 156, 156);
    background: rgb(156, 156, 156);
}

.text .description {
    color: rgb(133, 131, 131);
    background-color: rgb(133, 131, 131);
}

.text h3 {
    font-size: 2rem;
    margin: 25px auto;
    color: rgb(133, 131, 131);
    background: rgb(133, 131, 131);
}


.smashing-book {
    height: 400px;
    background-color: rgb(192, 192, 192);
}

.smashing-book::after {
    content: "";
    display: table;
    clear: both;
}

.smashing-text {
    width: 60%;
    float: left;
}
.book-container {
    float: right;
    width: 34%;
    height: 400px;
}
.book-container img {
    width: 35%;
    position: relative;
    top: -30px;
    display: block;
    margin: 0 auto;
}

.smashing-text {
    padding: 65px 0 0 100px;
}

.smashing-text span {
    font-size: 1.2rem;
}

.smashing-text h2 {
    width: 500px;
    margin: 10px 0 30px 0;
    font-size: 3rem;
    color: rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
}
.smashing-text p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: rgb(133, 131, 131);
    background-color: rgb(133, 131, 131);
}

.smashing-text button {
    padding: 20px 15px;
    font-size: 2rem;
    border-radius: 10px;
}
.curated-post {
    height: 800px;
    background-color: lightgray;
}

.smashing-newsletter {
    height: 700px;
    width: 90%;
    background: red;
    margin: 0 auto;
}

.conf {
    color: rgb(80, 80, 80);
    background-color:  rgb(80, 80, 80);
    width: 40%;
    margin: 0 auto;
    font-size: 2rem;
}

/* FOOTER */

footer {
    height: 800px;
    background-color: red;
    margin-top: 10px;
}